<div class="content"
     plugin-scripts="/javascripts/Assets/plugin/sweetalert2/dist/sweetalert2.all.min.js"
     loading-script="/javascripts/Admin/ApiSchemas.js">
    <div class="page-inner row py-5 bg-secondary-gradient">
        <div class="ml-5 text-white pb-2">
            <h2>API Schemas</h2>
            <p>You can manage your data-base Schema from here.</p>
        </div>
        <button id="AddButton" class="mr-5 ml-auto my-auto btn-round btn btn-success btn-border" disabled>Add New
            Schema
        </button>
    </div>
    <div id="Schemas" class="row col-11 mx-auto mt--4">
    </div>
    <link rel="stylesheet" href="/stylesheets/Admin/ApiSchemas.css">
</div>