<div class="content" plugin-scripts="/Admin/files/javascripts/Assets/plugin/bootstrap-notify/bootstrap-notify.min.js,/Admin/files/javascripts/Assets/core/FileSelector.js" loading-script="/Admin/Files/javascripts/Admin/Categories.js">
    <div class="page-inner row py-5 bg-secondary-gradient">
        <div class="ml-5 text-white pb-2">
            <h2>Categories Manager</h2>
            <p>You can manage your blog categories from here.</p>
        </div>
    </div>
    <div id="Categories" class="row col-11 mx-auto mt--4 is-loading is-loading-secondary is-loading-lg">
        <div class="card col-11 mx-auto">
            <div class="card-header">
                <h2 class="card-title">Categories List</h2>
            </div>
            <div class="card-body d-flex justify-content-between">
                <div class="roles">
                    <ul class="roles-list">
                        <li class="rounded p-1 d-flex justify-content-between align-items-center add-role-button">
                            <span class="">Categories</span>
                            <i class="fas fa-plus-circle"></i>
                        </li>
                    </ul>
                </div>
                <div class="role-permission">
                    <h6>Use Categories to organize your published posts in your website, you can create new posts if you have permissions in the category link.</h6>
                    <hr class="my-3" />
                    <div class="role-permission-list"></div>
                </div>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="/Admin/Files/stylesheets/Admin/Roles.css">
    <link rel="stylesheet" href="/Admin/files/stylesheets/Admin/General.css">
</div>