<div class="content"
     plugin-scripts="/Admin/Files/javascripts/Assets/plugin/sweetalert2/dist/sweetalert2.all.min.js,
     /Admin/Files/javascripts/Assets/plugin/datatables/datatables.min.js"
     loading-script="/Admin/Files/javascripts/Admin/DataBase.js">
    <div class="page-inner row py-5 bg-secondary-gradient">
        <div class="ml-5 text-white pb-2">
            <h2>Data Base Manager</h2>
            <p>You can manage your data-base (Data) from here.</p>
        </div>
    </div>
    <div id="DataBases" class="row col-11 mx-auto mt--4 is-loading is-loading-secondary is-loading-lg">
    </div>
    <link rel="stylesheet" href="/Admin/Files/stylesheets/Admin/DataBase.css">
</div>