<div class="content d-flex">
    <div class="m-auto d-flex flex-column">
        <h1 class="animated fadeIn display-1 mx-auto">404</h1>
        <div class="mx-auto desc animated fadeIn display-4 d-flex flex-column"><span class="mx-auto">OOPS!</span><%=pageName%> not found</div>
        <a href="<%=path%>" class="mx-auto btn btn-secondary mt-4 animated fadeInUp">
			<span class="btn-label mr-2">
				<i class="flaticon-back"></i>
			</span>
            Go Back
        </a>
    </div>
</div>