<div class="content"
     plugin-scripts=""
     loading-script="">
    <div class="page-inner row py-5 bg-secondary-gradient">
        <div class="ml-5 text-white pb-2">
            <h2>Files Manager dashboard</h2>
            <p>You can manage your website files from here.</p>
        </div>
    </div>
    <div id="FilesManager" class="row col-11 mx-auto mt--4">
        <div class="card">
            <div class="card-header">
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">Base</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">Buttons</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="/Files/stylesheets/Admin/DataBase.css">
</div>