<div
        class="content"
        plugin-scripts="/Admin/Files/javascripts/Assets/plugin/sweetalert2/dist/sweetalert2.all.min.js,
     /Admin/Files/javascripts/Assets/plugin/datatables/datatables.min.js"
        loading-script="/Admin/Files/javascripts/Admin/UsersList.js"
>
    <div class="page-inner row py-5 bg-secondary-gradient">
        <div class="ml-5 text-white pb-2">
            <h2>Users List</h2>
            <p>You can manage your Users (Data) from here.</p>
        </div>
    </div>
    <div id="UsersList" class="row col-11 mx-auto mt--4">
        <div class="card col-11 mx-auto">
            <div class="card-header">
                <h2 class="card-title">Users List</h2>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover"></table>
            </div>
        </div>
    </div>
    <div class="nav-item Context-Menu dropdown-menu p-1" aria-labelledby="layout">

    </div>
    <link rel="stylesheet" href="/Admin/Files/stylesheets/Admin/UsersList.css" />
</div>