<!DOCTYPE html>
<html lang="en">
    <% include ./partials/header.ejs %>
    <body>
        <% include ./partials/navbar.ejs %>

        <!-- slider_area_start -->
        <div class="slider_area">
            <div
                style="
                    background-image: url(/files/images/tasty/banner/banner.png);
                "
                class="single_slider d-flex align-items-center"
            >
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-xl-8">
                            <div class="slider_text text-center">
                                <div class="text">
                                    <h3>Chicken dish with per boiled egg</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%include ./partials/recepies.ejs%> <%include ./partials/footer.ejs%>
    </body>
</html>
