<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Messaging</title>
        <link
            rel="stylesheet"
            href="/Admin/Files/stylesheets/Assets/bootstrap.min.css"
        />
    </head>
    <style>
        body {
            height: 100vh;
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        .inbox-ppl {
            width: 40%;
            overflow: hidden;
        }
        .chat_list {
            border-bottom: 1px solid #c4c4c4;
            margin: 0;
            padding: 18px 16px 10px;
        }
        .active_chat {
            background: #ebebeb;
        }
    </style>
    <body>
        <div class="chat-app">
            <div class="inbox-ppl">
                <div class="inbox-chat">
                    <div class="chat_list active_chat">
                        <div class="chat_people">
                            <div class="chat_img">
                                <img
                                    src="https://ptetutorials.com/images/user-profile.png"
                                    alt="sunil"
                                />
                            </div>
                            <div class="chat_ib">
                                <h5>
                                    Sunil Rajput
                                    <span class="chat_date">Dec 25</span>
                                </h5>
                                <p>
                                    Test, which is a new approach to have all
                                    solutions astrology under one roof.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div></div>
        </div>
    </body>
</html>
