<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Under Construction</title>
        <link
            rel="stylesheet"
            href="/Admin/Files/stylesheets/Assets/bootstrap.min.css"
        />
        <style>
            body {
                background-color: #1a2035;
                margin: 0;
                padding: 0;
                color: #ffffff;
                width: 100vw;
                height: 100vh;
            }

            div.image {
                width: 45%;
            }

            h1 {
                font-size: 2em;
            }

            i {
                animation: rotation 2s infinite linear;
            }

            @keyframes rotation {
                from {
                    transform: rotate(0deg);
                }
                to {
                    transform: rotate(359deg);
                }
            }

            @media only screen and (max-width: 768px) {
                h1 {
                    font-size: 1.5em;
                }
                div.image {
                    width: 80%;
                }
            }
        </style>
        <script src="/Admin/Files/javascripts/Assets/plugin/webfont/webfont.min.js"></script>
        <script>
            WebFont.load({
                custom: {
                    families: ["Font Awesome 5 Solid"],
                    urls: ["/Admin/Files/stylesheets/Assets/fonts.min.css"],
                },
                active: function () {
                    sessionStorage.fonts = true;
                },
            });
        </script>
    </head>
    <body>
        <div
            class="h-100 d-flex flex-column justify-content-center align-items-center"
        >
            <div class="image">
                <img
                    src="/files/images/undraw_under_construction_46pa.svg"
                    alt="background"
                    class="img-fluid"
                />
            </div>
            <h1 class="mt-3">UNDER CONSTRUCTION <i class="fas fa-cog"></i></h1>
        </div>
    </body>
</html>
