<div class="PageContent col-12 col-lg-9  d-flex flex-column align-items-start my-3">
    <div class="Cover" style="background-image: url(https://cdn.jevelin.shufflehound.com/wp-content/uploads/sites/11/2016/11/1-1024x777.jpg)">
    </div>
    <h3 class="font-weight-bold mt-4"><%=Post%></h3>
    <div class="Details row ml-2 border-bottom">
        <span>by <a href="/user/ShiroYasha" class="text-muted">ShiroYasha</a></span>
        <span class="ml-2"><a href="/blogs/2020/11" class="text-muted">November 2020</a></span>
        <a href="/Travel" class="text-muted font-weight-bold ml-auto mr-2">Travel</a>
        <a href="#" class="btn"><i class="far fa-comment-dots"></i> 100</a>
    </div>
    <div class="PostContent">
        <p>Quisque dictum eros nisl, a maximus massa accumsan non. Aliquam erat volutpat. Quisque at finibus dui. Praesent cursus, dui sed tempus mollis, turpis ex porta lacus, ut egestas justo nibh in nisi. Donec arcu enim, congue in nunc ut, cursus sollicitudin urna. Pellentesque magna purus, accumsan varius mi et, gravida consectetur purus. Etiam mattis molestie aliquet. Aenean diam enim, faucibus et sodales id, iaculis vitae lectus. Duis sed consequat quam. Ut tincidunt eleifend pretium. Suspendisse nisl turpis, dapibus ac vestibulum nec, venenatis eu arcu. Etiam et fermentum ante. Curabitur eget diam sem. Fusce pulvinar turpis vel arcu pharetra bibendum. Integer leo libero, convallis nec nisi eu, aliquam tempus leo.</p>
    </div>
    <div class="PTags border-bottom w-100 pb-3">
        <h5 class="font-weight-bold mb-4">Tags In</h5>
        <div class="row ml-1">
            <a href="#" class="btn btn-outline-dark">girl</a>
            <a href="#" class="btn btn-outline-dark">LifeStyle</a>
        </div>
    </div>
    <div class="Share row">
        <a href="#" class="btn btn-outline-dark my-4 ml-2" type="button" data-toggle="collapse" data-target="#Share" aria-controls="Share" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-share"></i>Share</a>
        <div id="Share" class="collapse">fzzesdgf</div>
    </div>
</div>