<!DOCTYPE html>
<html>
<% include ../Partials/Heads/Head1 %>
<body class="Category">
<header class="position-relative">
    <div class="container d-flex flex-column">
        <% include ../Partials/Navs/Nav2 %>
    </div>
</header>
<div class="Content">
    <div style="background-color: #fbfbfb">
        <div class="container  pt-4">
            <h1 class="col-9 mx-auto pb-3"><%= message %></h1>
        </div>
    </div>
    <div class="container">
        <div class="Layout row mt-3">
            <% include ../Partials/SideBars/SideBar2 %>
        </div>
    </div>
</div>
<% include ../Partials/Footers/Footer1.ejs %>

</body>
</html>
